div#Info_container div#colour-container {
  display: grid;
  grid-template-columns: 60px 250px;

  font-family: 'JetBrains Mono Regular';
  font-size: 18px;
}

div#Info_container div#colour-container div#grid-headers div.header {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  height: 24px;
  text-transform: uppercase;
  user-select: none;
}

div#Info_container div#colour-container div#grid-values div.value {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: inherit;
  font-size: inherit;
  height: 24px;
  user-select: all;
}

div#Info_container div#colour-container div#grid-values div.value div#colour {
  border: 1px solid black;
  border-radius: 3px;
  box-sizing: border-box;
  height: 20px;
  width: 60px;
}