div#Name_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

div#Name_container div#input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 300px;
}

div#Name_container div#input-container select#colour-selector {
  font-family: 'JetBrains Mono Regular';
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
}

div#Name_container div#arrow-container {
  margin-left: 20px;
  margin-right: 20px;
  user-select: none;
}
