@font-face {
  font-family: 'JetBrains Mono Regular';
  src: url('../public/fonts/JetBrainsMono-Regular.ttf');
}

@font-face {
  font-family: 'JetBrains Mono Light';
  src: url('../public/fonts/JetBrainsMono-Light.ttf');
}


body {
  font-family: 'JetBrains Mono Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
}
